.CreateCouponForm {
    width: 40%;
    min-width: 300px;
}

.CreateCouponForm, .CreateCouponForm form {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.CreateCouponForm form {
    width: 100%;
}

.CreateCouponForm input, .CreateCouponForm select {
    min-width: 30px;
    width: 85%;
}

.CreateCouponForm label{
    position: relative;
    z-index: 2;
}