.CreateCustomerForm {
    width: 40%;
    min-width: 300px;
}

.CreateCustomerForm, .CreateCustomerForm form  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.CreateCustomerForm form {
    width: 100%;
}

.CreateCustomerForm input, .CreateCustomerForm select {
    min-width: 30px;
    width: 85%;
}

.CreateCustomerForm label{
    position: relative;
    z-index: 2;
}