.Login > button {
    margin: 0;
}

.Login .ClearForm {
	color: white;
	cursor: pointer;
}

.Login .ClearForm:hover {
	text-decoration: underline;
}

.Login .ClearForm:active {
	text-decoration: underline;
}