.Cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cart .APP_BUTTON {
    text-align: center;
}

.Button__Container {
    display: flex;
    bottom: 0;
    position: sticky;
    background: var(--white-transparent);
    padding: 10px;
    border-radius: var(--border-radius);
    margin: 15px 0;
    backdrop-filter: var(--backdrop-blur);
    box-shadow: var(--box-shadow);
}

.CartInfoField {
    color: var(--wine-red);
    max-width: 300px;
    font-size: 1rem;
    font-weight: bolder;
    padding: 8px 15px;
    margin: 5px 10px;
    border: var(--nav-button-border);
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-button);
}

@media screen and (max-width: 600px) {
    .CartInfoField {
        max-width: 10em;
        max-height: 5em;
        font-size: 0.7em;
        padding: 1.4em 0.5em;
        margin: 0 0.5em;
    }
}