.NavBar {
    padding: 0 5px 0 15px;
    display: flex;
    justify-content: center;
    background: var(--white);
}

.NavBar > * {
    align-self: center;
}

.NavBar > * * {
    align-self: baseline;
}

.NavBar .Logout {
    position: relative;
    margin-left: auto;
}

.NavBar > p {
    font-size: larger;
}

.NavBar > span {
    font-weight: 500;
}