.Footer {
	text-align: center;
	padding: 2px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Footer * {
	color: var(--wine-red);
	padding: 4px 10px;
	margin: 5px 0;
}

.Footer *:hover, .Footer *:active{
	color: var(--white);
	background: var(--wine-red);
	border-radius: 15px;
}