/* ALL GLOBAL CLASSES WRITTEN IN CAPS AND DOUBLE UNDERSCOPE*/

:root{
    --white:white;
    --gray:rgb(112, 112, 112);
    --white-transparent:rgba(255 255 255 / .9);
    --wine-red:rgb(130 19 52);
    --wine-red-transparent:rgb(130 19 52 /.5);
    --wine-red-dark:rgb(114 17 46);
    --wine-hover:rgb(199 5 63);
    --glow: 0 0 10px var(--white-transparent), 0 0 20px var(--white-transparent), 0 0 20px var(--wine-hover), 0 0 40px var(--wine-hover);
    --background-image-main: url("../../../Assets/Images/WaveLinesBG.svg") center;
    --background-image-second: url("../../../Assets/Images/WaveLinesBG(2).svg") center;
    --background-image-third: url("../../../Assets/Images/WaveLinesBG(3).svg") center;
    --box-shadow: 3px 7px 40px rgba(0, 0, 0, 0.2);
    --box-shadow-focus: 0 0 20px rgba(0, 0, 0, 0.4);
    --backdrop-blur: blur(2px) ;
    --border-radius: 40px;
    --nav-button-size: 50px;
    --nav-button-border: 2px solid var(--wine-red);
    --transition: .25s;
}

/*----------------------------------------------------------------------------*/

.WHITE__BG {
    background: var(--white-transparent);
}

/*----------------------------------------------------------------------------*/

.FORM {
    color: white;
    background: var(--background-image-third);
    border-radius: var(--border-radius);
    border: 3px solid var(--white-transparent);
    text-align: center;
    padding: 20px 5px;
    box-shadow: var(--box-shadow);
    max-width: 600px;
    margin: 20px auto;
}

.FORM a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.FORM .Error::before{
  display: inline;
  content: "⚠ ";
}

.FORM .Error {
  margin: 0;
  font-size: 15px;
}

/*----------------------------------------------------------------------------*/

.FIELD, .LINK, .SELECT {
    font-size: 1.1em;
    border: none;
    color: var(--wine-red);
    background: var(--white-transparent);
    margin: 7px auto;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.FIELD:hover, .LINK:hover, .SELECT:hover{
    background: var(--white);
}

.FIELD:focus-visible, .LINK:focus-visible, .SELECT:focus-visible{
    outline: none;
    background: var(--white);
    box-shadow:  var(--box-shadow-focus);
}

.FIELD::placeholder, .SELECT::placeholder {
    color: var(--gray);
    transition: var(--transition);
}

.FIELD:hover::placeholder, .SELECT:hover::placeholder {
    color: var(--gray);
}

.SELECT {
    font-size: 1rem;
}

/*----------------------------------------------------------------------------*/

.CENTERED{
    position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}

/*----------------------------------------------------------------------------*/

.DISPLAY__NONE {
    display: none;
}

.DISPLAY__BLOCK {
    display: block;
}

.DISPLAY__INLINE {
    display: inline;
}

.EMPHASIZE_TEXT_COLOR {
    color: var(--wine-red);
}

/*----------------------------------------------------------------------------*/

.APP__BUTTON {
    display: inline-flex;
    color: var(--wine-red);
    max-width: 300px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 12px;
    margin: 4px 6px;
    border: 1px solid var(--wine-red-transparent);
    background: var(--white);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
    justify-content: center;
    align-items: center;
}

.APP__BUTTON:hover {
    color: white;
    background: var(--wine-red);
    border: inherit solid rgba(150, 1, 71, 0);
}

.APP__BUTTON:active {
    transform: scale(98%) translateY(1px);
    background: var(--wine-red-dark);
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.NAV__BUTTON {
    display: inline-flex;
    justify-content: center;
    width: var(--nav-button-size);
    height: var(--nav-button-size);
    align-items: center;
    color: var(--wine-red);
    background: var(--white);
    border-radius: var(--border-radius);
    border: var(--nav-button-border);
    transition: var(--transition);
}

.NAV__BUTTON::before {
    content: " ";
    position: absolute;
    z-index: 1;
    width: calc(var(--nav-button-size) - 6px);
    height: calc(var(--nav-button-size) - 6px);
    border: 2px solid var(--white);
    border-radius: var(--border-radius);
    opacity: 0;
    transition: var(--transition);
}

.NAV__BUTTON:hover {
    color: var(--white);
    background: var(--wine-red);
    transition: var(--transition);
}

.NAV__BUTTON:hover::before {
    opacity: 1;
}

.NAV__BUTTON:focus {
    /* transform: translate3d(-5px, -1px, -10px); */
}

.DISABLED_BUTTON {
    background: rgb(201, 201, 201);
    cursor: not-allowed;
    border: inherit solid rgb(170, 170, 170);
    color: grey;
}

.DISABLED_BUTTON:hover{
    background: rgb(201, 201, 201);
    border: inherit solid rgb(170, 170, 170);
    color: grey;
}

/*----------------------------------------------------------------------------*/