/* ALL GLOBAL CLASSES WRITTEN IN CAPS AND DOUBLE UNDERSCOPE*/

:root{
    /* COLOR */
    --white:white;
    --gray:rgb(150, 150, 150);
    --gray-light:rgb(230, 230, 230);
    --white-transparent:rgba(255, 255, 255, .4);
    --white-semi-transparent:rgba(255, 255, 255, .97);
    --black-semi-transparent:rgba(0, 0, 0, .5);
    --black:rgba(0, 0, 0, .9);
    --wine-red:rgb(173, 12, 60); /* #ad0c3c */
    --wine-red-transparent:rgb(173, 12, 60, .85);
    --wine-red-dark:rgb(114, 17, 46); /* #72112e  */
    --wine-hover:rgb(199, 5, 63); /* #c7053f */
    
    /* TABLE STYLE*/
    --gray-light-even:rgba(255, 255, 255, 0.3);
    --gray-light-odd:rgba(228, 223, 223, 0.3);

    /* TOASTS STYLE*/
    --toast-success-bg: rgba(0, 238, 107, 0.83);
    --toast-warn-bg: rgba(255, 255, 255, .87);
    --toast-error-bg: rgba(255, 0, 0, 0.75);

    /* FLICKER ANIMATION */
    --warning-background-light: rgba(201, 188, 160, 0.0);
    --warning-background-dark: rgba(255, 0, 0, 0.1);
    --warning-background-animation-speed: 4s infinite;

    /* SHADOW */
    --box-shadow: 3px 6px 25px rgba(0, 0, 0, 0.1);
    --box-shadow-card: 8px 8px 0px rgba(77, 77, 77, 0.3), 5px 6px 25px rgba(0, 0, 0, .5);
    --box-shadow-text: 1px 4px 12px rgba(0, 0, 0, .5);
    --box-shadow-focus: 0 0 20px rgba(0, 0, 0, .4);
    --box-shadow-button: 2px 6px 15px rgba(0, 0, 0, .14);
    --box-shadow-button-pressed: inset 2px 5px 7px rgba(0, 0, 0, .4);

    /* BORDERS */
    --nav-button-border: 0 solid var(--wine-red);
    --toast-border: 3px solid var(--wine-red);
    
    /* BACKGROUND IMAGES */
    --background-image-main: url("../../../Assets/Images/HalfCirclesBG2.png"); 
    --background-image-back: url("../../../Assets/Images/IconBG.png");
    /* https://www.patterncooler.com/#a103b103c12Cd12Ce0f0g64h0C303CFB5989CE144BE21A56E0386AiB5j0k64l1F4m1F4 */
    --background-image-logo: url("../../../Assets/Images/HalfCirclesBG3.png") repeat; 
    /* --background-image-logo: url("../../../Assets/Images/DropletsBG3.png") repeat;  */
    --background-image-cards: url("../../../Assets/Images/HalfCirclesBG3.png") repeat; 
    /* --background-image-cards: url("../../../Assets/Images/DropletsBG3.png") repeat;  */
    --background-image-login: url("../../../Assets/Images/LoginBG.png") center;
    --background-image-register: url("../../../Assets/Images/RegisterBG.png") center;
    --background-image-add: url("../../../Assets/Images/AddItemBG.png") center;
    
    /* EFFECTS */
    --backdrop-blur: blur(4px);
    --backdrop-blur-toast: blur(4px);

    /* SIZES */
    --border-radius: 40px;
    --border-radius-toast: 25px;
    --nav-button-size: 50px;
    --filters-min-width: 300px;
    --filter-max-height: 900px;

    /* TRANSITION */
    --transition: all .2s linear;
    --menu-transition: all .45s ease-in-out;

    /* Z-INDEX */
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
    --z-index-4: 4;
    --z-index-ontop: 9999;

    
}

/*----------------------------------------------------------------------------*/

.HEADER_BG {
    background: var(--background-image-logo);
    border-radius: 0 0 50px 50px;
    background-size: auto 50%;
}

/*----------------------------------------------------------------------------*/

.WHITE__BG {
    background: var(--white-semi-transparent);
}

/*----------------------------------------------------------------------------*/

.FORM {
    color: var(--wine-red);
    /* background: var(--background-image-main); */
    border-radius: var(--border-radius);
    border: 4px solid var(--white);
    text-align: center;
    padding: 20px 5px;
    box-shadow: var(--box-shadow);
    max-width: 600px;
    margin: 20px auto;
    backdrop-filter: blur(5px);
}

.FORM a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.FORM .Error::before{
  display: inline;
  content: "⚠ ";
}

.FORM .Error {
  margin: 0;
  font-size: 15px;
}

/*----------------------------------------------------------------------------*/

.FIELD, .LINK, .SELECT {
    font-size: 1.1em;
    border: none;
    color: var(--wine-red);
    background: var(--white-semi-transparent);
    margin: 7px auto;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.FIELD:hover, .LINK:hover, .SELECT:hover{
    background: var(--white);
}

.FIELD:focus-visible, .LINK:focus-visible, .SELECT:focus-visible{
    outline: none;
    background: var(--white);
    box-shadow:  var(--box-shadow-focus);
}

.FIELD::placeholder, .SELECT::placeholder {
    color: var(--gray-light);
    transition: var(--transition);
}

.FIELD:hover::placeholder, .SELECT:hover::placeholder {
    color: var(--gray);
}

.SELECT {
    font-size: 1rem;
}

/*----------------------------------------------------------------------------*/

.CENTERED{
    position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}

/*----------------------------------------------------------------------------*/

.DISPLAY__NONE {
    display: none;
}

.DISPLAY__BLOCK {
    display: block;
}

.DISPLAY__INLINE {
    display: inline;
}

/*----------------------------------------------------------------------------*/

.APP__BUTTON {
    display: inline-flex;
    color: var(--wine-red);
    max-width: 300px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 12px;
    margin: 4px 6px;
    border: var(--nav-button-border);
    background: var(--white);
    border-radius: var(--border-radius);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-button);
    transition: var(--transition);
}

.APP__BUTTON:hover {
    color: var(--white);
    background: var(--wine-red);
    border: inherit solid rgba(150, 1, 71, 0);
}

.APP__BUTTON:active {
    box-shadow: var(--box-shadow-button-pressed);
    transition: var(--transition);
}

.NAV__BUTTON {
    display: inline-flex;
    justify-content: center;
    width: var(--nav-button-size);
    height: var(--nav-button-size);
    align-items: center;
    color: var(--wine-red);
    background: var(--white);
    border-radius: var(--border-radius);
    border: var(--nav-button-border);
    transition: var(--transition);
    box-shadow: var(--box-shadow-button);
}

.NAV__BUTTON:hover {
    color: var(--white);
    background: var(--wine-red);
    transition: var(--transition);
}

.NAV__BUTTON:active {
    box-shadow: var(--box-shadow-button-pressed);
}

.DISABLED__BUTTON {
    background: var(--gray-light);
    cursor: not-allowed;
    border-color: var(--gray);
    color: var(--gray);
}

.DISABLED__BUTTON:hover{
    background: var(--gray-light);
    color: var(--gray);
}

.BUTTON__AS_LINK {
    background: none;
    border: none;
    color: var(--wine-red);
    cursor: pointer;
}

.BUTTON__AS_LINK:hover{
    text-decoration: underline;
}

.BUTTON__AS_LINK:active{
    text-decoration: underline;
}

/*     TOASTS STYLE
----------------------------------------------------------------------------*/

.Toastify__toast{
    font-size: 1.05rem;
    letter-spacing: 0.02rem;
    border: var(--toast-border);
    border-color: transparent;
    transition: all .07s linear;
    text-shadow: var(--box-shadow-text);
    backdrop-filter: var(--backdrop-blur-toast);
    border-radius: var(--border-radius-toast) !important;
    padding: 0;
    box-shadow: var(--box-shadow);
}
.Toastify__close-button {
    margin-top: 3px;
    margin-right: 6px;
}

.Toastify__toast--success {
    background: var(--toast-success-bg) !important;
}

.Toastify__toast--warning {
    background: var(--toast-warn-bg) !important;
    color: var(--wine-red) !important;
}

.Toastify__progress-bar--warning {
    background: var(--wine-red) !important;
}

.Toastify__toast--error {
    background: var(--toast-error-bg) !important;
}


.Toast__button {
    display: inline-flex;
    color: var(--wine-red);
    max-width: 300px;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 12px;
    margin: 4px 6px;
    border: var(--nav-button-border);
    background: var(--white);
    border-radius: var(--border-radius);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-button);
    transition: var(--transition);
}

.Toast__button:hover {
    color: var(--white);
    background: var(--wine-red);
    border: inherit solid rgba(150, 1, 71, 0);
}

.Toast__button:active{
    box-shadow: var(--box-shadow-button-pressed);
    transition: var(--transition);
}