*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
}

* input {
  -webkit-user-select: text; /* Chrome, Opera, Safari */
  -moz-user-select: text; /* Firefox 2+ */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Standard syntax */
}

* img {
    max-width: 100%;
    width: 100%;
}

#root, body{
  overflow-x: hidden;
}

.Layout {
    background-image: url("../../../Assets/Images/IconBG.png");
    background-size: calc(200px + 10%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
    overflow: hidden;
}

.HEADER_BG {
  background: var(--background-image-main);
  background-size: 100% 150%;
  border-radius: 0 0 50px 50px;
}

footer, .Footer {
    margin-top: auto;
    width: 100%;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  z-index: 9998;
}

/*    Custom scrollbar   
****************************/

/* width */
::-webkit-scrollbar {
  width: 13px;
}
  
  /* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.13);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
  background: var(--wine-red-dark);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--wine-hover);
}

  /* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: var(--wine-red);
}