.EditableTD {
    position: relative;
    overflow: hidden;
    min-width: 35px;
    color: var(--text-black);
}

.EditableTDImage{
    width: 100px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.EditableTH {
    color: var(--text-white);
    overflow: hidden;
    min-width: 35px;
    padding: 0;
}

.EditableTD > input, .EditableTD > select {
    text-align: center;
    height: 98%;
    border: 2px solid transparent;
    width: 100%;
    border-radius: 8px;
    padding: 10px 5px;
    margin: 0 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.EditableTD > input:hover, .EditableTD > select:hover {
    box-shadow: inset 0 0 10px rgba(0 0 0 / .25);
    transition: all .15s ease-in-out;
}

/* number arrows */
.EditableTD > input::-webkit-inner-spin-button{
    position: relative;
    height: 40px;
    right: -5px;
    margin: 0;
}

/* date picker icon */
.EditableTD > input::-webkit-calendar-picker-indicator{
    margin: 0;
}

.EditableTD > input:focus, .EditableTD > select:focus {
    border: 2px solid var(--wine-red);
    outline: none;
    color: var(--wine-red);
    width: 100%;
    text-decoration: underline;
    box-shadow: var(--box-shadow-focus);
}

.ETDError {
    position: absolute;
    color: red;
}

.TrInEdit {
    background: var(--active-edit) !important;
}

.Warn {
    -webkit-animation: flickerAnimation var(--warning-background-animation-speed);
    -moz-animation: flickerAnimation var(--warning-background-animation-speed);
    -o-animation: flickerAnimation var(--warning-background-animation-speed);
    animation: flickerAnimation var(--warning-background-animation-speed);
    border: 1px solid var(--wine-red);
}

@keyframes flickerAnimation {
    0% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
    50% { 
        background: var(--warning-background-dark); 
        border-color: var(--wine-red);
    }
    100% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
}
@-o-keyframes flickerAnimation {
    0% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
    50% { 
        background: var(--warning-background-dark); 
        border-color: var(--wine-red);
    }
    100% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
}
@-moz-keyframes flickerAnimation {
    0% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
    50% { 
        background: var(--warning-background-dark); 
        border-color: var(--wine-red);
    }
    100% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
}
@-webkit-keyframes flickerAnimation {
    0% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
    50% { 
        background: var(--warning-background-dark); 
        border-color: var(--wine-red);
    }
    100% { 
        background: var(--warning-background-light); 
        border-color: transparent;
    }
}