.EditableTD {
    white-space: nowrap;
    /* min-height: 20px;
    max-height: 50px; */
    overflow: hidden;
    /* height: 50px;
    width: 50px; */
    width: 100%;
    
}

.EditableTD > input, .EditableTD > select {
    text-align: center;
    height: 98%;
    border: 2px solid transparent;
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.EditableTD > input:hover, .EditableTD > select:hover {
    box-shadow: inset 0 0 10px rgba(0 0 0 / .25);
    transition: all .15s ease-in-out;
}

.EditableTD > input::-webkit-inner-spin-button {
    height: 40px;
}

.ui-button.ui-widget.ui-spinner-button.ui-spinner-up{
    border: 1px solid black;
}

.EditableTD > input:focus, .EditableTD > select:focus {
    border: 2px solid var(--wine-red);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--wine-red);
    width: 100%;
    text-decoration: underline;
    box-shadow: var(--box-shadow-focus);
}

.ETDError{
    position: absolute;
    color: red;
}