.Header_Background {
    padding: 25px;
    text-align: center;
}

.Header img, h1 {
    display: inline-block;
    vertical-align: middle;
}

#logo{
    max-width: 70px;
    filter: drop-shadow(var(--box-shadow));
}

.Header h1 {
    font-size: 2.5em;
    margin: 0 20px;
    color: var(--white);
    text-shadow: var(--box-shadow);
}