.AddItemElement {
	
}

.DropDown {
  position: relative;
  display: inline-block;
}

.DropDownContent {
  display: none;
  position: absolute;
  background: var(--white-transparent);
  min-width: 160px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  text-align: center;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  backdrop-filter: blur(10px);
}

.DropDownContent a {
  min-height: 50px;
  color: var(--wine-red);
  padding: 12px 16px;
  display: block;
  transition: var(--transition);
  font-weight: 600;
}

/* Change color of dropdown links on hover */
.DropDownContent a:hover {
  background: var(--wine-hover);
  color: white;
}

/* Show the dropdown menu on hover */
.DropDown:hover .DropDownContent {
  display: block;
}

/* Style The Dropdown Button */
.DropBtn {
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.DropDown:hover .DropBtn {
  background: var(--wine-hover);
  color: white;
}

.DropDown:hover .DropBtn::before {
  content: " ";
  position: absolute;
  z-index: 1;
  width: calc(var(--nav-button-size) - 6px);
  height: calc(var(--nav-button-size) - 6px);
  border: 2px solid var(--white);
  border-radius: var(--border-radius);
  opacity: 1;
  transition: var(--transition);
}