.DarkMode {
    position: sticky;
    top: 0.25em;
    height: 0;
    width: 0;
    overflow: visible;
    z-index: var(--z-index-4);
}

.DarkModeButton {
    background: var(--white);
    padding: 0.2em;
    width: 2em;
    height: 4em;
    overflow: hidden;
    border: none;
    border-radius: 2em;
    box-shadow: var(--box-shadow);
}

.DarkModeIconContainer {
    transform: translateY(-2em);
    transition: 0.5s;
}

.DarkModeIcons {
    padding: 2px;
    width: 100% !important;
    height: 100% !important;
}

.DarkModeToggled {
    transform: translateY(0px);
}

.LightIcon {
    margin-top: 3px;
    opacity: 1;
    transition: 0.4s !important;
}

.LightIconDisabled {
    opacity: 0;
    transition: 0.4s !important;
}

@media screen and (max-width: 600px) {
    .DarkModeButton {
        width: 1.5em;
        height: 3em;
    }

    .LightIcon {
        margin-top: 1em;
    }

    .DarkModeToggled {
        transform: translateY(0.8em);
    }

}