.CouponsContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.CouponsContainer > .CouponsView {
    flex-grow: 3;
}

.CouponsView {
    padding: 10px;
    text-align: center;
}

.CouponsView > .CouponsCounter{
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 15px 0;
    /* height: 40px; */
    color: var(--wine-red);
    font-size: 120%;
    font-weight: 400;
    background: var(--white-transparent);
    text-align: center;
    border-radius: var(--border-radius);
    backdrop-filter: var(--backdrop-blur);
    box-shadow: var(--box-shadow);
}

.CouponsCounter > p {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    margin: 0;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    font-weight: 600;
}

.CouponsCounter span:nth-child(1) {
    font-weight: 800;
    margin: 0 6px 0 0;
}

.CouponsView > h1 {
	color: var(--wine-red);
}

.Coupons__table{
    display: table;
    border-collapse: collapse;
    backdrop-filter: var(--backdrop-blur);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    margin: auto;
}


.Coupons__table > thead{
    background: var(--background-image-main);
    background-size: auto 160%;
    color: var(--white);
    font-style: oblique;
    box-shadow: var(--box-shadow-focus);
    text-transform: capitalize;
}

.Coupons__table > tbody tr{
    background: rgba(228, 223, 223, 0.3);
    width: 100%;
    border: none;
}

.Coupons__table tr:nth-child(even){
    background: rgba(255, 255, 255, 0.5);
}

.Coupons__table > tbody tr:hover{
    background: var(--wine-hover) !important;
    color: var(--white);
    cursor: pointer;
}

.Coupons__table .table__center_text{
    text-align: center;
}

.Coupons__table th, td{
    border: 1px solid rgba(121, 116, 116, 0.3);
    height: 50px;
    padding: 8px 15px;
    border: none;
}

.Coupon__title {
    font-weight: bold;
    font-style:oblique;
    text-decoration: underline;
    margin: 0 8px;
}

.Coupons__table .Warn {
    -webkit-animation: flickerAnimation var(--warning-background-animation-speed);
    -moz-animation: flickerAnimation var(--warning-background-animation-speed);
    -o-animation: flickerAnimation var(--warning-background-animation-speed);
    animation: flickerAnimation var(--warning-background-animation-speed);
}

@keyframes flickerAnimation {
    0%   { background: var(--warning-background-light); }
    50%  { background: var(--warning-background-dark); }
    100% { background: var(--warning-background-light); }
}
@-o-keyframes flickerAnimation {
    0%   { background: var(--warning-background-light); }
    50%  { background: var(--warning-background-dark); }
    100% { background: var(--warning-background-light); }
}
@-moz-keyframes flickerAnimation {
    0%   { background: var(--warning-background-light); }
    50%  { background: var(--warning-background-dark); }
    100% { background: var(--warning-background-light); }
}
@-webkit-keyframes flickerAnimation {
    0%   { background: var(--warning-background-light); }
    50%  { background: var(--warning-background-dark); }
    100% { background: var(--warning-background-light); }
}