.Menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index:var(--z-index-2);
    background-size: 5%;
    border-radius: 0 0 35px 35px;
    padding: 0 10px 10px;
}