.CouponCard {
    position: relative;
    background: var(--background-image-main);
    /* backdrop-filter: blur(10px); */
    background-size: 100% 150%;
    margin: 10px auto calc(2% + 30px) auto;
    max-width: 800px;
    text-align: center;
    padding: calc(5px + 0.1vw);
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 200px;
    animation: out 1s ease;
}

.CouponCard * {
    z-index: 2;
}

.Dashed_border {
    height: 100%;
    width: 100%;
    position: relative;
    border-top: calc(4px + 0.05vw) dashed white;
    border-bottom: calc(4px + 0.05vw) dashed white;
}

.CardButton {
    position: relative;
    top: 89%;
    border-color: white;
}

.CardButton:hover {
    box-shadow: 0 0 15px white;
    border-color: rgba(255 255 255 / .7);
}

.CardButton:active {
    box-shadow: 0 0 15px white;

}

.Image_container {
	transform: translate(0%,-50%);
	top: 50%;
	right: 0;
    position: absolute;
    height: 187px;
    width: 187px;
    margin: auto;
    border-radius: 100vw;
    border: calc(5px + 0.05vw) solid white;
    overflow: hidden;
    background: white;
}

.Image_container * {
    height: 100%;
    width: 100%;
}

.Price_tag {
    position: absolute;
    right: -40px;
    top: 135px;
    background-image: url("../../../Assets/Icons/PriceLabel.svg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 120px;
    width: 55px;
    transform: rotate(-35deg);
}

.CouponCard .title {
    margin: auto;
    font-weight: bold;
    font-size: calc(15px + 0.4vw);
    color: white;
    width: 100%;
}

.CouponCard .company {
    margin: 50px 0;
    font-weight: 500;
    font-size: calc(8px + 0.4vw);
    color: white;
}

.CouponCard .category {
    top: 0;
    margin: calc(10px + 0.5%) 0;
    font-weight: 500;
    font-size: calc(11px + 0.2vw);
    color: white;
}

.CouponCard .price {
    font-weight: bolder;
    color: white;
}

@keyframes in {
    0% {
        transform: scale(100%);
    }
    
    100% {
        transform: scale(110%);
    }
}

@keyframes out {
    0% {
        transform: scale(110%);
    }
    
    100% {
        transform: scale(100%);
    }
}