.CouponCard {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0;
    height: 560px;
    width: 330px;
    margin: 10px auto calc(2% + 30px) auto;
    z-index: var(--z-index-2);
    background: var(--background-image-cards);
    border-radius: 100px 50px 100px 50px;
    transition: var(--menu-transition);
    animation: out 1s ease;
    align-items: center;
    box-shadow: 0 0 0px 1px transparent, var(--box-shadow-card);
    overflow: hidden;
}

.CouponCardData {
    flex-direction: column;
    border-radius: 100px 50px 100px 50px;
    overflow: hidden;
}

.CouponCardData * {
    font-family: Montserrat;
    transition: var(--menu-transition);
}

.Price_tag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    left: -60px;
    top: 25px;
    padding: 5px;
    background-image: linear-gradient(90deg, var(--wine-red-dark), var(--wine-hover), var(--wine-red-dark));
    transform: rotate(-40deg) translate3d(0,0,0);
    z-index: var(--z-index-2);
    border-top: 2px dashed var(--white-transparent);
    border-bottom: 2px dashed var(--white-transparent);
    box-shadow: var(--box-shadow);
}

.Price_tag > * {
    font-size: 1.25rem;
    font-weight: 600;
}

.CouponCardData:hover > .Image_container {
    transform: translateY(-150px);
}

.CouponCardData:hover > .Text_container {
    transform: translateY(-100px);
}

.CouponCardData:hover .Description, .CouponCardData:hover .EndDate{
    top: -100px;
    opacity: 1;
}

.CouponCardData:hover .Title, .CouponCardData:hover .Category, .CouponCardData:hover .Company{
    opacity: 0;
}

.CardButton {
    margin: 15px 0;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}

.Image_container {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.Image_container > .Image {
    width: 100%;
}

.CouponCard .Company {
    color: var(--text-white);
    border-radius: var(--border-radius);
    left: 50px;
    top: 0;
    font-size: 1rem;
    padding: 3px 25px;
    margin: 0 15px;
}

.CouponCard .Title {
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.5px;
    font-size: 1.6rem;
    color: var(--text-white);
    margin: 5px;
    font-weight: 800;
}

.CouponCard .Category {
    top: 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--text-white);
}

.CouponCard .Description {
    position: relative;
    top: 90px;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--text-white);
    margin: 0 15px;
    opacity: 0;
}

.CouponCard .EndDate {
    color: var(--text-white);
    position: relative;
    top: 50px;
    opacity: 0;
    margin-top: 50px;
}

.CouponCard .Price {
    color: var(--text-white);
}

.CouponCardState{
    height: 0;
    width: 0;
    position: absolute;
    z-index: var(--z-index-3);
    display: none;
}

.ComingSoon {
    background: var(--black-semi-transparent);
    height: 100%;
    width: 100%;
    display: block;
}

.ComingSoon_tag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;
    height: 60px;
    left: -50%;
    top: 75%;
    padding: 5px;
    background-image: linear-gradient(90deg, var(--wine-red-dark), var(--wine-hover), var(--wine-red-dark));
    transform: rotate(-10deg);
    z-index: var(--z-index-2);
    border-top: 3px dashed var(--white-transparent);
    border-bottom: 3px dashed var(--white-transparent);
    box-shadow: var(--box-shadow);
}

.ComingSoon_tag > * {
    color: var(--text-white);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 120%;
}

@keyframes in {
    0% {
        transform: scale(100%);
    }
    
    100% {
        transform: scale(110%);
    }
}

@keyframes out {
    0% {
        transform: scale(110%);
    }
    
    100% {
        transform: scale(100%);
    }
}